.All-Movies-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
.Movie-card{
    margin: 1em;
    width: 300px;
    max-height: fit-content;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
}

