.Movies-search-bar{
    width: 80vw;
    margin: 1% 10% 2% 10%;  
    height: 3em;
    font-size: 1.6em;
    border: 0.5px solid rgb(211, 209, 209);
    /* box-shadow: 7px 7px 10px 5px rgb(211, 211, 211); */
    box-shadow: -15px -10px 10px rgba(255, 255, 255, 0.8), 10px 10px 15px rgba(0, 0, 0, 0.2);

    border-radius: 100px;
    outline: none;
    text-align: center;
    color: rgb(0, 0, 0);
    /* background: url(../../node_modules/bootstrap-icons/icons/search.svg) no-repeat scroll 60% 50%; */
}

.Center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin: 0 0 1em 0;
}

.Error-msg{
    text-align: center;
    color: crimson;
    font-size: 1.6em;
}